<h1>Party Time!</h1>
<%= image_tag('tpparrot') %>
<%= image_tag('60fpsparrot') %>
<%= image_tag('dealwithitnowparrot') %>
<%= image_tag('spinningparrot') %>
<%= image_tag('done_complete') %>
<%= image_tag('rubyparrot') %>
<%= image_tag('headbangingparrot') %>
<%= image_tag('docparrot') %>
<%= image_tag('daftpunkparrot') %>


<%= link_to 'Back', root_path %>